h1 {
    color: aqua;
    font-size: 36px;
    text-align: center;
}

body {

    background: url(https://i0.wp.com/pinkupost.com/wp-content/uploads/2018/06/%E4%B9%83%E6%9C%A8%E5%9D%8246_%E9%BD%8B%E8%97%A4%E9%A3%9B%E9%B3%A5_%E5%AF%AB%E7%9C%9F%E9%9B%86_%E6%BD%AE%E9%A8%92_%E5%86%8D%E7%89%88.jpg?fit=1000%2C664&ssl=1) no-repeat;


}